@import '~rsuite/dist/rsuite.min.css';

@font-face {
  font-family: "Monaco";
  src: url("/font/monaco.eot");
  src: url("/font/monaco.woff2") format("woff2"), url("/font/monaco.woff") format("woff"), url("/font/monaco.svg") format("svg");
}


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
}

html,
body {
  padding: 0;
  margin: 0 auto;
  font-family: Monaco, Arial, Helvetica, sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-color: #0f131a
}
